{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout -%}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_blog_post') }}">
                Articles
            </a>
        </li>
        <li class="active">
            Modifier l'article
        </li>
    </ol>

    {{ form(edit_form) }}
    {{ form(delete_form) }}

{% endblock %}
