<div class="pub">
    <h2 class="title">Articles populaires</h2>
    <ul class="popposts">
        {% for post in posts %}
            <li>
                <a href="{{ path('rudak_blog_post',{id:post.id,slug:post.slug}) }}"
                   title="{{ post.title }} - vu {{ post.hit }} fois">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
