{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout -%}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_blog_category') }}">
                Catégories
            </a>
        </li>
        <li class="active">
            Modifier la catégorie
        </li>
    </ol>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
