{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_blog_category') }}">
                Catégories
            </a>
        </li>
        <li class="active">
            Creation de la catégorie
        </li>
    </ol>

    {{ form(form) }}
{% endblock %}
